.editForm__container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.input__container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}